# Connexion Google du client web (pollux-web). Copier en web.env, chmod 600.
# Client OAuth « Application Web », redirection : https://pollux.<TAILNET>.ts.net/oidc/callback
POLLUX_OIDC_CLIENT_ID=<CLIENT_ID>.apps.googleusercontent.com
POLLUX_OIDC_CLIENT_SECRET=<SECRET>
POLLUX_OIDC_URL=https://pollux.<TAILNET>.ts.net
# e-mails autorisés, séparés par des virgules
POLLUX_OIDC_ALLOW=<MAIL>
